body {
    font-family: 'Lora', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    text-align: center;
    background-color: 	#478778;
}

.header {
    color: #FAF9F6;
    font-size: 32px ;
    margin: 150px auto 100px;
}

.div1 {
    background-color: wheat;
    padding: 10px;
}

.discription {
    font-size: 20px;
}

.invisible {
    display: none;
}

.play-button {
    margin: 30px;
}

.button {
    background-color: 	#355E3B;
    border: 3px solid #FAF9F6;
    border-radius: 15%;
    color: #FAF9F6;
    cursor: pointer;
    font-size: 20px;
    height: 45px;
    width: 150px;
    margin: 50px;
    -webkit-box-shadow: 14px 1px 19px 15px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 14px 1px 19px 15px rgba(255, 255, 255, 0.75);
    box-shadow: 1px 1px 19px 15px rgba(247, 247, 247, 0.75);
}

.button:hover{
    background-color: #32CD32;
}

.round-count {
    display: flex;
    justify-content: center;
}

.round {
    align-items: center;
    background-color: #FAF9F6;
    border: 5px solid;
    display: flex;
    font-size: 32px;
    font-weight: 600;
    height: 100px;
    justify-content: center;
    width: 300px;
    margin: 50px;
}

.round.invisible{
    display: none;
}

.scoreboard {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.board {
    background-color: #FAF9F6;
    border: 5px solid;
    -webkit-box-shadow: 14px 1px 19px 15px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 14px 1px 19px 15px rgba(255, 255, 255, 0.75);
    box-shadow: 1px 1px 19px 15px rgba(247, 247, 247, 0.75);
    font-size: 30px;
    height: 200px;
    width: 150px;
    margin: 75px;
}

.board.player-choice.invisible{
    display: none;
}

.board.computer-choice.invisible{
    display: none;
}

.board.player-choice{
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 150px;
}

.board.computer-choice{
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 150px;
}

.choices {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.choice {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button1 {
    height: 150px;
    width: 150px;
    background-color: white;
    border: 3px solid;
    border-radius: 15%;
    cursor: pointer;
    margin: 50px;
    -webkit-box-shadow: 14px 1px 19px 15px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 14px 1px 19px 15px rgba(255, 255, 255, 0.75);
    box-shadow: 1px 1px 19px 15px rgba(247, 247, 247, 0.75);
}

#rock {
    background-image: url(../img/rock.jpg);
    background-size: 170px 165px;
    background-repeat: no-repeat;
    padding: 10px;
}

#paper {
    background-image: url(../img/paper.jpg);
    background-size: 170px 165px;
    background-repeat: no-repeat;
    padding: 10px;
}

#scissors {
    background-image: url(../img/scissors.jpg);
    background-size: 170px 165px;
    background-repeat: no-repeat;
    padding: 10px;
}

.button2 {
    background-color: 	#355E3B;
    border: 3px solid #FAF9F6;
    border-radius: 15%;
    color: #FAF9F6;
    cursor: pointer;
    font-size: 20px;
    height: 45px;
    width: 150px;
    margin: 50px;
    -webkit-box-shadow: 14px 1px 19px 15px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 14px 1px 19px 15px rgba(255, 255, 255, 0.75);
    box-shadow: 1px 1px 19px 15px rgba(247, 247, 247, 0.75);
}